//---------------- Colores

//Basicos
$blanco: #fff;
$negro: #000;
$gris: #e1e1e1;

//Fondos
$f_grisclaro: #333646;
$f_grisoscuro: #252734;

//Azules
$azul: #5E81F4;
// $a_oscuro: #1A1E29;
// $a_medio: #132D46;
// $a_claro: #5FCDD9;

//Colores tecnologías
$c_html: #FF5722;
$c_css: #2196F3;
$c_javascript: #FFDF00;
$c_php: #36447F;
$c_mysql: #00618A;
$c_git: #DD4B35;
$c_wordpress: #00769C;
$c_ionos: #12468F;
//----------------------------Tipografia

$fuente_principal: 'Poppins', sans-serif;

//Tamaños de pantalla
$telefono: 360px;
$tablet: 768px;
$desktop: 992px;