@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-color: v.$f_grisclaro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;

    @include m.desktop{
        flex-direction: row;
    }
}

.logo{
    width: 20rem;
    cursor: pointer;
}

.navegacion{
    color: v.$blanco;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navegacion__lista{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    @include m.desktop{
        flex-direction: row;
    }
    gap: 3rem;
}

.navegacion__enlace{
    list-style: none;
    padding-bottom:.2rem;
    text-align: center;
    @include m.desktop{
        padding-bottom:.5rem;
    }
    
}

.enlace{
    text-decoration: none;
    color: v.$blanco;
    &:hover{
        color: v.$azul;
        border-bottom: 3px solid v.$azul;
        cursor: pointer;
    }
}

//NAVEGACION RESPONSIVA-----------------------------------

.boton-menu-hamburguesa{
    width: 5rem;
    padding: 1.5rem 0;
    cursor: pointer;
    @include m.desktop{
        display: none;
        opacity: 0;
    }
}

.navegacion-mobil{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear;
    @include m.desktop{
        display: flex;
        opacity: 1;
        visibility: visible;
    }
}

.mostrar-menu{
    visibility: visible;
    opacity: 1;
    height: auto;
}